.scroll-stack-scroller {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: visible;
    /* Changed to visible since we use window scroll */
    overflow-x: visible;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.scroll-stack-inner {
    padding: 10vh 0rem 20vh;
    /* Reduced padding for better integration */
    min-height: 100vh;
}

.scroll-stack-card {
    transform-origin: top center;
    will-change: transform, filter;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    width: 100%;
    box-sizing: border-box;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
}

.scroll-stack-end {
    width: 100%;
    height: 1px;
}